<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>flight</th>
      <th>planned</th>
      <th>revised</th>
      <th>destination</th>
      <th>gate</th>
      <th>date</th>
      <th>time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AC832-1726262700-D</td>
      <td>AC832</td>
      <td>2024-09-13 17:24:16</td>
      <td>2024-09-13 17:24:16</td>
      <td>Bruxelles/Brussels</td>
      <td>65</td>
      <td>2024-09-13</td>
      <td>17:24:16</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AC804-1726264500-D</td>
      <td>AC804</td>
      <td>2024-09-13 17:54:08</td>
      <td>2024-09-13 17:54:08</td>
      <td>Copenhagen</td>
      <td>66</td>
      <td>2024-09-13</td>
      <td>17:54:08</td>
    </tr>
    <tr>
      <th>2</th>
      <td>TS296-1726264800-D</td>
      <td>TS296</td>
      <td>2024-09-13 18:00:32</td>
      <td>2024-09-13 18:00:32</td>
      <td>Bale/Basel Mulhouse</td>
      <td>67</td>
      <td>2024-09-13</td>
      <td>18:00:32</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AC866-1726267800-D</td>
      <td>AC866</td>
      <td>2024-09-13 18:49:36</td>
      <td>2024-09-13 18:49:36</td>
      <td>Londres/London HR</td>
      <td>65</td>
      <td>2024-09-13</td>
      <td>18:49:36</td>
    </tr>
    <tr>
      <th>4</th>
      <td>TS250-1726267800-D</td>
      <td>TS250</td>
      <td>2024-09-13 18:49:36</td>
      <td>2024-09-13 18:49:36</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>68</td>
      <td>2024-09-13</td>
      <td>18:49:36</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AF347-1726268400-D</td>
      <td>AF347</td>
      <td>2024-09-13 19:00:16</td>
      <td>2024-09-13 19:00:16</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>63</td>
      <td>2024-09-13</td>
      <td>19:00:16</td>
    </tr>
    <tr>
      <th>6</th>
      <td>AC892-1726270200-D</td>
      <td>AC892</td>
      <td>2024-09-13 19:30:08</td>
      <td>2024-09-13 20:59:44</td>
      <td>Rome</td>
      <td>65</td>
      <td>2024-09-13</td>
      <td>19:30:08</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AC884-1726273200-D</td>
      <td>AC884</td>
      <td>2024-09-13 20:19:12</td>
      <td>2024-09-13 20:19:12</td>
      <td>Geneve\Geneva</td>
      <td>67</td>
      <td>2024-09-13</td>
      <td>20:19:12</td>
    </tr>
    <tr>
      <th>8</th>
      <td>AC822-1726273800-D</td>
      <td>AC822</td>
      <td>2024-09-13 20:29:52</td>
      <td>2024-09-13 20:29:52</td>
      <td>Barcelone/Barcelona</td>
      <td>64</td>
      <td>2024-09-13</td>
      <td>20:29:52</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AC814-1726277400-D</td>
      <td>AC814</td>
      <td>2024-09-13 21:29:36</td>
      <td>2024-09-13 21:29:36</td>
      <td>Nice</td>
      <td>66</td>
      <td>2024-09-13</td>
      <td>21:29:36</td>
    </tr>
    <tr>
      <th>10</th>
      <td>TS110-1726277400-D</td>
      <td>TS110</td>
      <td>2024-09-13 21:29:36</td>
      <td>2024-09-13 21:29:36</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>68</td>
      <td>2024-09-13</td>
      <td>21:29:36</td>
    </tr>
    <tr>
      <th>11</th>
      <td>QR764-1726277700-D</td>
      <td>QR764</td>
      <td>2024-09-13 21:36:00</td>
      <td>2024-09-13 21:36:00</td>
      <td>Doha</td>
      <td>63</td>
      <td>2024-09-13</td>
      <td>21:36:00</td>
    </tr>
    <tr>
      <th>12</th>
      <td>TS434-1726281600-D</td>
      <td>TS434</td>
      <td>2024-09-13 22:40:00</td>
      <td>2024-09-13 22:40:00</td>
      <td>Marseille</td>
      <td>67</td>
      <td>2024-09-13</td>
      <td>22:40:00</td>
    </tr>
    <tr>
      <th>13</th>
      <td>TS516-1726281600-D</td>
      <td>TS516</td>
      <td>2024-09-13 22:40:00</td>
      <td>2024-09-13 22:40:00</td>
      <td>Bordeaux</td>
      <td>64</td>
      <td>2024-09-13</td>
      <td>22:40:00</td>
    </tr>
    <tr>
      <th>14</th>
      <td>AV201-1726284300-D</td>
      <td>AV201</td>
      <td>2024-09-13 23:24:48</td>
      <td>2024-09-13 23:24:48</td>
      <td>Bogota</td>
      <td>63</td>
      <td>2024-09-13</td>
      <td>23:24:48</td>
    </tr>
    <tr>
      <th>15</th>
      <td>TS628-1726284900-D</td>
      <td>TS628</td>
      <td>2024-09-13 23:35:28</td>
      <td>2024-09-13 23:35:28</td>
      <td>Nice</td>
      <td>68</td>
      <td>2024-09-13</td>
      <td>23:35:28</td>
    </tr>
    <tr>
      <th>16</th>
      <td>TS574-1726285200-D</td>
      <td>TS574</td>
      <td>2024-09-13 23:39:44</td>
      <td>2024-09-13 23:39:44</td>
      <td>Lyon</td>
      <td>66</td>
      <td>2024-09-13</td>
      <td>23:39:44</td>
    </tr>
    <tr>
      <th>17</th>
      <td>TS260-1726285500-D</td>
      <td>TS260</td>
      <td>2024-09-13 23:44:00</td>
      <td>2024-09-13 23:44:00</td>
      <td>Barcelone/Barcelona</td>
      <td>65</td>
      <td>2024-09-13</td>
      <td>23:44:00</td>
    </tr>
  </tbody>
</table>