<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>flight</th>
      <th>planned</th>
      <th>revised</th>
      <th>company</th>
      <th>destination</th>
      <th>gate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AC832-1725485100-D</td>
      <td>AC832</td>
      <td>2024-09-04 17:24:16</td>
      <td>2024-09-04 17:24:16</td>
      <td>AC</td>
      <td>Bruxelles/Brussels</td>
      <td>67</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AC874-1725487500-D</td>
      <td>AC874</td>
      <td>2024-09-04 18:04:48</td>
      <td>2024-09-04 18:04:48</td>
      <td>AC</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>63</td>
    </tr>
    <tr>
      <th>2</th>
      <td>KL672-1725489900-D</td>
      <td>KL672</td>
      <td>2024-09-04 18:45:20</td>
      <td>2024-09-04 18:45:20</td>
      <td>KL</td>
      <td>Amsterdam</td>
      <td>64</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AC72-1725490200-D</td>
      <td>AC72</td>
      <td>2024-09-04 18:49:36</td>
      <td>2024-09-04 18:49:36</td>
      <td>AC</td>
      <td>Casablanca</td>
      <td>67</td>
    </tr>
    <tr>
      <th>4</th>
      <td>TS250-1725490200-D</td>
      <td>TS250</td>
      <td>2024-09-04 18:49:36</td>
      <td>2024-09-04 18:49:36</td>
      <td>TS</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>66</td>
    </tr>
    <tr>
      <th>5</th>
      <td>AC2116-1725490800-D</td>
      <td>AC2116</td>
      <td>2024-09-04 19:00:16</td>
      <td>2024-09-04 20:40:32</td>
      <td>AC</td>
      <td>Dublin</td>
      <td>64</td>
    </tr>
    <tr>
      <th>6</th>
      <td>TS680-1725491400-D</td>
      <td>TS680</td>
      <td>2024-09-04 19:10:56</td>
      <td>2024-09-04 19:10:56</td>
      <td>TS</td>
      <td>Lisbonne/Lisbon</td>
      <td>68</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AC892-1725492600-D</td>
      <td>AC892</td>
      <td>2024-09-04 19:30:08</td>
      <td>2024-09-04 19:30:08</td>
      <td>AC</td>
      <td>Rome</td>
      <td>65</td>
    </tr>
    <tr>
      <th>8</th>
      <td>AC894-1725494700-D</td>
      <td>AC894</td>
      <td>2024-09-04 20:04:16</td>
      <td>2024-09-04 20:04:16</td>
      <td>AC</td>
      <td>Milan Malpensa</td>
      <td>63</td>
    </tr>
    <tr>
      <th>9</th>
      <td>TS402-1725495900-D</td>
      <td>TS402</td>
      <td>2024-09-04 20:25:36</td>
      <td>2024-09-04 20:25:36</td>
      <td>TS</td>
      <td>Rome</td>
      <td>66</td>
    </tr>
    <tr>
      <th>10</th>
      <td>AC812-1725499800-D</td>
      <td>AC812</td>
      <td>2024-09-04 21:29:36</td>
      <td>2024-09-04 21:29:36</td>
      <td>AC</td>
      <td>Lisbonne/Lisbon</td>
      <td>67</td>
    </tr>
    <tr>
      <th>11</th>
      <td>TS110-1725499800-D</td>
      <td>TS110</td>
      <td>2024-09-04 21:29:36</td>
      <td>2024-09-04 21:29:36</td>
      <td>TS</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>68</td>
    </tr>
    <tr>
      <th>12</th>
      <td>AT209-1725501000-D</td>
      <td>AT209</td>
      <td>2024-09-04 21:50:56</td>
      <td>2024-09-04 21:50:56</td>
      <td>AT</td>
      <td>Casablanca</td>
      <td>65</td>
    </tr>
    <tr>
      <th>13</th>
      <td>TS728-1725501900-D</td>
      <td>TS728</td>
      <td>2024-09-04 22:05:52</td>
      <td>2024-09-04 22:05:52</td>
      <td>TS</td>
      <td>Londres/London GAT</td>
      <td>66</td>
    </tr>
    <tr>
      <th>14</th>
      <td>TS516-1725504000-D</td>
      <td>TS516</td>
      <td>2024-09-04 22:40:00</td>
      <td>2024-09-04 22:40:00</td>
      <td>TS</td>
      <td>Bordeaux</td>
      <td>64</td>
    </tr>
    <tr>
      <th>15</th>
      <td>AC70-1725504900-D</td>
      <td>AC70</td>
      <td>2024-09-04 22:54:56</td>
      <td>2024-09-04 22:54:56</td>
      <td>AC</td>
      <td>Alger/Algiers</td>
      <td>63</td>
    </tr>
    <tr>
      <th>16</th>
      <td>TS384-1725507600-D</td>
      <td>TS384</td>
      <td>2024-09-04 23:39:44</td>
      <td>2024-09-04 23:39:44</td>
      <td>TS</td>
      <td>Madrid</td>
      <td>66</td>
    </tr>
    <tr>
      <th>17</th>
      <td>TS574-1725507600-D</td>
      <td>TS574</td>
      <td>2024-09-04 23:39:44</td>
      <td>2024-09-04 23:39:44</td>
      <td>TS</td>
      <td>Lyon</td>
      <td>65</td>
    </tr>
    <tr>
      <th>18</th>
      <td>TS260-1725507900-D</td>
      <td>TS260</td>
      <td>2024-09-04 23:44:00</td>
      <td>2024-09-04 23:44:00</td>
      <td>TS</td>
      <td>Barcelone/Barcelona</td>
      <td>68</td>
    </tr>
    <tr>
      <th>19</th>
      <td>TS538-1725534000-D</td>
      <td>TS538</td>
      <td>2024-09-05 06:59:12</td>
      <td>2024-09-05 06:59:12</td>
      <td>TS</td>
      <td>Cancun</td>
      <td>68</td>
    </tr>
    <tr>
      <th>20</th>
      <td>WG764-1725537600-D</td>
      <td>WG764</td>
      <td>2024-09-05 07:58:56</td>
      <td>2024-09-05 07:58:56</td>
      <td>WG</td>
      <td>St Martin/St Maarten</td>
      <td>66</td>
    </tr>
    <tr>
      <th>21</th>
      <td>TS762-1725539400-D</td>
      <td>TS762</td>
      <td>2024-09-05 08:30:56</td>
      <td>2024-09-05 08:30:56</td>
      <td>TS</td>
      <td>San Salvador</td>
      <td>67</td>
    </tr>
    <tr>
      <th>22</th>
      <td>CM484-1725540180-D</td>
      <td>CM484</td>
      <td>2024-09-05 08:43:44</td>
      <td>2024-09-05 08:43:44</td>
      <td>CM</td>
      <td>Panama/Panama City</td>
      <td>64</td>
    </tr>
    <tr>
      <th>23</th>
      <td>TS398-1725542400-D</td>
      <td>TS398</td>
      <td>2024-09-05 09:20:00</td>
      <td>2024-09-05 09:20:00</td>
      <td>TS</td>
      <td>Punta Cana</td>
      <td>65</td>
    </tr>
    <tr>
      <th>24</th>
      <td>AC1882-1725545700-D</td>
      <td>AC1882</td>
      <td>2024-09-05 10:15:28</td>
      <td>2024-09-05 10:15:28</td>
      <td>AC</td>
      <td>Cancun</td>
      <td>68</td>
    </tr>
    <tr>
      <th>25</th>
      <td>EK244-1725546000-D</td>
      <td>EK244</td>
      <td>2024-09-05 10:19:44</td>
      <td>2024-09-05 10:19:44</td>
      <td>EK</td>
      <td>Dubai Int **</td>
      <td>63</td>
    </tr>
    <tr>
      <th>26</th>
      <td>WG6488-1725548400-D</td>
      <td>WG6488</td>
      <td>2024-09-05 11:00:16</td>
      <td>2024-09-05 11:00:16</td>
      <td>WG</td>
      <td>Varadero</td>
      <td>64</td>
    </tr>
  </tbody>
</table>