<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>flight</th>
      <th>planned</th>
      <th>revised</th>
      <th>company</th>
      <th>destination</th>
      <th>gate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AC832-1725830700-D</td>
      <td>AC832</td>
      <td>2024-09-08 17:25:00</td>
      <td>2024-09-08 17:25:00</td>
      <td>AC</td>
      <td>Bruxelles/Brussels</td>
      <td>65</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AC898-1725832200-D</td>
      <td>AC898</td>
      <td>2024-09-08 17:50:00</td>
      <td>2024-09-08 18:35:00</td>
      <td>AC</td>
      <td>Athenes/Athens</td>
      <td>66</td>
    </tr>
    <tr>
      <th>2</th>
      <td>AC804-1725832500-D</td>
      <td>AC804</td>
      <td>2024-09-08 17:55:00</td>
      <td>2024-09-08 17:55:00</td>
      <td>AC</td>
      <td>Copenhagen</td>
      <td>68</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AC802-1725832800-D</td>
      <td>AC802</td>
      <td>2024-09-08 18:00:00</td>
      <td>2024-09-08 18:00:00</td>
      <td>AC</td>
      <td>Stockholm</td>
      <td>64</td>
    </tr>
    <tr>
      <th>4</th>
      <td>AC72-1725835800-D</td>
      <td>AC72</td>
      <td>2024-09-08 18:50:00</td>
      <td>2024-09-08 18:50:00</td>
      <td>AC</td>
      <td>Casablanca</td>
      <td>63</td>
    </tr>
    <tr>
      <th>5</th>
      <td>TS250-1725835800-D</td>
      <td>TS250</td>
      <td>2024-09-08 18:50:00</td>
      <td>2024-09-08 18:50:00</td>
      <td>TS</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>67</td>
    </tr>
    <tr>
      <th>6</th>
      <td>TK36-1725839100-D</td>
      <td>TK36</td>
      <td>2024-09-08 19:45:00</td>
      <td>2024-09-08 21:00:00</td>
      <td>TK</td>
      <td>Istanbul</td>
      <td>65</td>
    </tr>
    <tr>
      <th>7</th>
      <td>AC878-1725839100-D</td>
      <td>AC878</td>
      <td>2024-09-08 19:45:00</td>
      <td>2024-09-08 19:45:00</td>
      <td>AC</td>
      <td>Toulouse</td>
      <td>64</td>
    </tr>
    <tr>
      <th>8</th>
      <td>TS402-1725841500-D</td>
      <td>TS402</td>
      <td>2024-09-08 20:25:00</td>
      <td>2024-09-08 20:25:00</td>
      <td>TS</td>
      <td>Rome</td>
      <td>67</td>
    </tr>
    <tr>
      <th>9</th>
      <td>AC814-1725845400-D</td>
      <td>AC814</td>
      <td>2024-09-08 21:30:00</td>
      <td>2024-09-08 21:30:00</td>
      <td>AC</td>
      <td>Nice</td>
      <td>64</td>
    </tr>
    <tr>
      <th>10</th>
      <td>TS110-1725845400-D</td>
      <td>TS110</td>
      <td>2024-09-08 21:30:00</td>
      <td>2024-09-08 21:30:00</td>
      <td>TS</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>63</td>
    </tr>
    <tr>
      <th>11</th>
      <td>TS728-1725847500-D</td>
      <td>TS728</td>
      <td>2024-09-08 22:05:00</td>
      <td>2024-09-08 22:05:00</td>
      <td>TS</td>
      <td>Londres/London GAT</td>
      <td>68</td>
    </tr>
    <tr>
      <th>12</th>
      <td>TS434-1725849600-D</td>
      <td>TS434</td>
      <td>2024-09-08 22:40:00</td>
      <td>2024-09-08 22:40:00</td>
      <td>TS</td>
      <td>Marseille</td>
      <td>66</td>
    </tr>
    <tr>
      <th>13</th>
      <td>TS574-1725853200-D</td>
      <td>TS574</td>
      <td>2024-09-08 23:40:00</td>
      <td>2024-09-08 23:40:00</td>
      <td>TS</td>
      <td>Lyon</td>
      <td>68</td>
    </tr>
    <tr>
      <th>14</th>
      <td>TS582-1725853200-D</td>
      <td>TS582</td>
      <td>2024-09-08 23:40:00</td>
      <td>2024-09-08 23:40:00</td>
      <td>TS</td>
      <td>Toulouse</td>
      <td>67</td>
    </tr>
    <tr>
      <th>15</th>
      <td>TS260-1725853500-D</td>
      <td>TS260</td>
      <td>2024-09-08 23:45:00</td>
      <td>2024-09-08 23:45:00</td>
      <td>TS</td>
      <td>Barcelone/Barcelona</td>
      <td>65</td>
    </tr>
    <tr>
      <th>16</th>
      <td>TS538-1725879600-D</td>
      <td>TS538</td>
      <td>2024-09-09 07:00:00</td>
      <td>2024-09-09 07:00:00</td>
      <td>TS</td>
      <td>Cancun</td>
      <td>63</td>
    </tr>
    <tr>
      <th>17</th>
      <td>CM484-1725885780-D</td>
      <td>CM484</td>
      <td>2024-09-09 08:43:00</td>
      <td>2024-09-09 08:43:00</td>
      <td>CM</td>
      <td>Panama/Panama City</td>
      <td>66</td>
    </tr>
    <tr>
      <th>18</th>
      <td>TS398-1725888000-D</td>
      <td>TS398</td>
      <td>2024-09-09 09:20:00</td>
      <td>2024-09-09 09:20:00</td>
      <td>TS</td>
      <td>Punta Cana</td>
      <td>67</td>
    </tr>
    <tr>
      <th>19</th>
      <td>AM681-1725891120-D</td>
      <td>AM681</td>
      <td>2024-09-09 10:12:00</td>
      <td>2024-09-09 10:12:00</td>
      <td>AM</td>
      <td>Mexico/Mexico City</td>
      <td>64</td>
    </tr>
    <tr>
      <th>20</th>
      <td>EK244-1725891600-D</td>
      <td>EK244</td>
      <td>2024-09-09 10:20:00</td>
      <td>2024-09-09 10:20:00</td>
      <td>EK</td>
      <td>Dubai Int **</td>
      <td>63</td>
    </tr>
    <tr>
      <th>21</th>
      <td>TS486-1725897000-D</td>
      <td>TS486</td>
      <td>2024-09-09 11:50:00</td>
      <td>2024-09-09 11:50:00</td>
      <td>TS</td>
      <td>Montego Bay</td>
      <td>68</td>
    </tr>
  </tbody>
</table>