<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>flight</th>
      <th>planned_time</th>
      <th>destination</th>
      <th>gate</th>
      <th>company</th>
      <th>revised_time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>WG710</td>
      <td>2024-08-31 06:50</td>
      <td>Freeport</td>
      <td>63</td>
      <td>SUNWING AIRLINES</td>
      <td>2024-08-31 06:50</td>
    </tr>
    <tr>
      <th>1</th>
      <td>TS538</td>
      <td>2024-08-31 07:00</td>
      <td>Cancun</td>
      <td>67</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 07:00</td>
    </tr>
    <tr>
      <th>2</th>
      <td>WG646</td>
      <td>2024-08-31 07:00</td>
      <td>Holguin</td>
      <td>65</td>
      <td>SUNWING AIRLINES</td>
      <td>2024-08-31 07:00</td>
    </tr>
    <tr>
      <th>3</th>
      <td>AC1874</td>
      <td>2024-08-31 08:15</td>
      <td>Tulum Int'l</td>
      <td>64</td>
      <td>AIR CANADA</td>
      <td>2024-08-31 08:15</td>
    </tr>
    <tr>
      <th>4</th>
      <td>TS106</td>
      <td>2024-08-31 09:00</td>
      <td>Puerto Vallarta</td>
      <td>67</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 09:00</td>
    </tr>
    <tr>
      <th>5</th>
      <td>TS398</td>
      <td>2024-08-31 09:20</td>
      <td>Punta Cana</td>
      <td>68</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 09:20</td>
    </tr>
    <tr>
      <th>6</th>
      <td>EK244</td>
      <td>2024-08-31 10:20</td>
      <td>Dubai Int **</td>
      <td>63</td>
      <td>EMIRATES</td>
      <td>2024-08-31 10:20</td>
    </tr>
    <tr>
      <th>7</th>
      <td>DM723</td>
      <td>2024-08-31 12:10</td>
      <td>Santo Domingo</td>
      <td>68</td>
      <td>ARAJET</td>
      <td>2024-08-31 12:10</td>
    </tr>
    <tr>
      <th>8</th>
      <td>TS854</td>
      <td>2024-08-31 13:00</td>
      <td>Cayo Coco</td>
      <td>67</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 13:00</td>
    </tr>
    <tr>
      <th>9</th>
      <td>TS938</td>
      <td>2024-08-31 13:30</td>
      <td>Cancun</td>
      <td>63</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 13:30</td>
    </tr>
    <tr>
      <th>10</th>
      <td>TS814</td>
      <td>2024-08-31 15:50</td>
      <td>Varadero</td>
      <td>68</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 15:50</td>
    </tr>
    <tr>
      <th>11</th>
      <td>TS690</td>
      <td>2024-08-31 17:20</td>
      <td>Athenes/Athens</td>
      <td>66</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 17:20</td>
    </tr>
    <tr>
      <th>12</th>
      <td>AC832</td>
      <td>2024-08-31 17:25</td>
      <td>Bruxelles/Brussels</td>
      <td>67</td>
      <td>AIR CANADA</td>
      <td>2024-08-31 17:25</td>
    </tr>
    <tr>
      <th>13</th>
      <td>AC898</td>
      <td>2024-08-31 17:50</td>
      <td>Athenes/Athens</td>
      <td>65</td>
      <td>AIR CANADA</td>
      <td>2024-08-31 17:50</td>
    </tr>
    <tr>
      <th>14</th>
      <td>AC72</td>
      <td>2024-08-31 18:50</td>
      <td>Casablanca</td>
      <td>64</td>
      <td>AIR CANADA</td>
      <td>2024-08-31 18:50</td>
    </tr>
    <tr>
      <th>15</th>
      <td>TS250</td>
      <td>2024-08-31 18:50</td>
      <td>Paris  Ch.de Gaulle</td>
      <td>67</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 18:50</td>
    </tr>
    <tr>
      <th>16</th>
      <td>TS252</td>
      <td>2024-08-31 18:50</td>
      <td>Malaga</td>
      <td>68</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 18:50</td>
    </tr>
    <tr>
      <th>17</th>
      <td>AC878</td>
      <td>2024-08-31 19:45</td>
      <td>Toulouse</td>
      <td>65</td>
      <td>AIR CANADA</td>
      <td>2024-08-31 19:45</td>
    </tr>
    <tr>
      <th>18</th>
      <td>AC894</td>
      <td>2024-08-31 20:05</td>
      <td>Milan Malpensa</td>
      <td>64</td>
      <td>AIR CANADA</td>
      <td>2024-08-31 20:05</td>
    </tr>
    <tr>
      <th>19</th>
      <td>TS396</td>
      <td>2024-08-31 20:05</td>
      <td>Marrakech</td>
      <td>63</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 20:05</td>
    </tr>
    <tr>
      <th>20</th>
      <td>TS402</td>
      <td>2024-08-31 20:25</td>
      <td>Rome</td>
      <td>67</td>
      <td>AIR TRANSAT</td>
      <td>2024-08-31 20:25</td>
    </tr>
    <tr>
      <th>21</th>
      <td>AC834</td>
      <td>2024-08-31 20:30</td>
      <td>Madrid</td>
      <td>68</td>
      <td>AIR CANADA</td>
      <td>2024-08-31 20:30</td>
    </tr>
  </tbody>
</table>